<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intro To Express</title>
</head>
<body>
    <h1>Hello Express from EJS</h1>

    <fieldset>
        <legend>Names</legend>
        <form action="/process" method="post" accept-charset="utf-8">
            <div>
                <label for="">Name</label>
                <input type="text" name="name" value="">
            </div>
            <button type="">Submit</button>
        </form>
    </fieldset>
</body>
</html>