<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intro To Express</title>
</head>
<body>
    <h1>COUNTER</h1>
    <div><%= views %></div>

    <div><button type="submit"><a href="/two">Increment By 2</a></button></div>

    <div><button type="submit"><a href="/clear">Clear Session</a></button></div>

</body>
</html>