<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Results</title>
</head>
<body>
    <h1>Submitted Information</h1>
    <div>
        <h3>Name: <%= name %></h3>
        <h3>Location: <%= location %></h3>
        <h3>Language: <%= language %></h3>
        <h3>Comment: <%= comment %></h3>
        <button><a href="/">GO BACK</a></button>
    </div>
</body>
</html>